
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }


#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

/* -- tabs --*/
.tab-main section {
    display: none;
    padding: 2em 0 0;
    border-top: 1px solid #abc;
}

.tab-main input {
    display: none;
}

.tab-main label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 0px 5px;
    width: 32.8%;
    font-weight: 600;
    text-align: center;
    color: #1e272e;
    border: 1px solid transparent;
}

.tab-main span {
    margin-right: 0.5em;
}

.tab-main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    opacity: 0;
}

.tab-main label:hover {
    cursor: pointer;
}

.tab-main input:checked + label {
    color: #ef6926;
    border: 3px solid #ef6926;
    border-bottom: 1px solid #fff;
}

.tab-main #tab1:checked ~ #content1,
.tab-main #tab2:checked ~ #content2,
.tab-main #tab3:checked ~ #content3,
.tab-main #tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 800px) {
    .tab-main label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .tab-main label {
        padding: 15px;
    }
}

.img-fluid{
	margin:0px;
}   

/*-- how we work --*/
.how-grid h3 {
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .5px;
    line-height: 32px;
}
.how {
    background: #ef6926;
}
.inner-grid {
    background: #fff;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.4);
    padding: 0 4em;
}
.how-icon span.fa,.how-icon1 span.fa,.how-icon2 span.fa {
    font-size: 40px;
}

.how-icon span.fa {
    color: #30c39e;
}
.how-icon1 span.fa {
    color: #f85a40;
}
.how-icon2 span.fa {
    color: #0389ff;
}
/*-- how we work --*/
